.search {
  &__container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0.75rem;
    text-align: center;
  }

  &__input {
    padding: 0.75rem 1.5rem;
    font-size: 0.85rem;
    width: 300px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #57575671;
    transition: all 250ms ease-in-out;

    &:hover {
      border: 2px solid #04300a;
    }
  }
}
